/*声明主颜色*/

/*headerBar*/
body{background-color: #f9f9f9;}

/*topBar*/
.topBar{width:100%;height: 30px;background-color: #23598f;line-height: 30px;z-index: 6;}
.fixed{position: fixed;top:0px;z-index: 11;}
.topBar .rightArea li{padding:0px 20px 0px 20px;height:30px;line-height:30px;text-align:center;float: left;display: inline-block;background: url(../images/icon/bg_top.png) left center no-repeat;position: relative;}
.topBar .leftArea{margin-left: 0px;}
.topBar .inLogin li{height:30px;float: left;padding:0px 30px 0px 0px;display: inline-block;}
.topBar a{color: #fff;}
.topBar a[href*=".html"]:hover{opacity: .8;}
.topBar .icon_img{position: relative;top: 2px;left: 2px;}
.topBar .rightArea .user_center div{position: absolute;left:0;top:30px;width:100%;background-color: #23598f;z-index: 999;overflow:hidden;border-top: 0px;}
.topBar .rightArea .shop_car{background: #e46414;}
.topBar .rightArea .help{background: none;}
.topBar .rightArea .user_center div a{display:block;line-height: 30px;text-align: center;border:1px solid #23598f;}
.topBar .rightArea .user_center div a:hover{background-color: #fff;color: #23598f}

/*logo*/
.logoBar{height: 150px;position: relative;z-index: 9;background-color: #fff;border-bottom: 2px solid #23598f;}
.logoBar .logo{width:180px;height: 130px;position: absolute;top:0px;z-index: 1;display: flex;display:-webkit-flex;display:-ms-flex;justify-content: center;align-items: center;}
.logoBar .logo img{width: 153px;}

/*search*/
.searchBar{height:130px;margin-left:322px;position: relative;display: flex;align-items: center;}
.search_box{width: 700px;height: 40px;border:1px solid #23598f;}
.search_box .search_text{width:500px;height: 40px;line-height: 40px;color: #999;font-size: 1em;margin-left: 20px;}
.search_box .search_select{width: 80px;height: 40px;}
.search_box .search_select .selection{box-sizing:border-box;width: 80px;height: 40px;background-color: #eee;font-size: 1em;text-align: center;padding-top: 11px;display: none;cursor: pointer;}
.search_box .search_select .active{display: block}
.search_btn{width: 100px;height: 40px;font-size: 1em;margin-left:0px;font-family:"黑体";color:#fff;background-color:#23598f;border-radius: 0;}
.search_btn:hover{opacity: .9;cursor: pointer;}

.navBox{position: relative;}
/*nav*/
.nav{height:38px;line-height: 38px;margin-left: 210px;position: absolute;top: -38px;z-index:9;}
.nav .nav_li{height: 38px;float: right;text-align: center;padding:0 70px 0 40px;}
.nav .nav_li .nav_name{height: 38px;line-height:38px;display: inline-block;font-family: "黑体";position: relative;font-size: 1em;color: #23598f;}

/*所有商品*/
.shopClass{width:180px;height:auto;color: #fff;background-color:#23598f;font-family: "黑体";position: absolute;z-index: 10;top:0;left: 0;}
.shopClass .shopTitle{width: 180px;height: 40px;background-color: #23598f;text-align: center;line-height: 40px;position: absolute;top: -40px;z-index: 9;cursor: pointer;}
.shopClass .shopTitle span{font-size: 1em;color: #fff;}
.shopClass .shopContainer{width: 100%;display: none;}
.shopClass .shopContainer .shop_list{width: 100%;position: relative;}
.shopClass .shopContainer .shop_list li{width: 100%;color: #fff;height: 56px;font-size: 1em;line-height: 56px;}
.shopClass .shopContainer .shop_list .shop_name{width:150px;padding-left:30px;display: block;color: #fff;}
.shopClass .shopContainer .shop_list li:first-child .shop_name{border-top: 1px solid #23598f;}
.shopClass .shopContainer .shop_list li:last-child .shop_name{border-bottom: 1px solid #23598f;}
.shopClass .shopContainer .shop_list .shop_name .mark_right{position: absolute;right: 20px;font-size: 1em;}
.shopClass .shopContainer .shop_list .shop_content{position: absolute;left: 180px;top:0;height:502px;background-color:#f9f9f9;z-index: 10;border:1px solid #23598f;border-left: 0px;display: none;}
.shopClass .shopContainer .shop_list .shop_content li{width:180px;text-align: center;color:#000;float: left;}
.shopClass .shopContainer .shop_list .shop_content li a{display: inline-block;}


.shopClass .shopContainer .shop_list li:hover .shop_name{background-color: #f9f9f9;color:#23598f;}
.shopClass .shopContainer .shop_list li:hover .shop_content{display: block;}
.shopClass .shopContainer .shop_list li:hover .mark_right{color: #23598f;}
.shopClass .shopContainer .shop_list .shop_content li a:hover{color: #23598f}

 /*foot*/
 footer{width:100%;height: 80px;margin-top:40px;background-color: #23598f;text-align: center;padding-top: 15px;color: #fff;}
 footer p{margin-top: 5px;}
 footer p a{display: inline-block;}

/*breadCrumbs面包屑导航*/
.breadCrumbs{margin-top: 20px;}
.breadCrumbs a:hover{color:#23598f; }

/*您可能还需要*/
.floorFour{margin-top: 38px;}
.floor_title{text-align:center;margin-bottom: 25px;background: url(../images/icon/floor_line.png) left center no-repeat;color: #959595;font-size: 18px;position: relative;}/*设置图片流标题*/
.floor_title .more{display:inline-block;font-size: 15px;position: absolute;right: 0;top: 0;}
.floor_list{display: inline-block;}
.floor_list li{width:300px;height:240px;float: left;margin-left:calc(40px/3);overflow: hidden;}
.floor_list li:first-child{margin-left: 0px;}
.floor_list li:hover{box-shadow: 2px 2px 5px #888;-moz-box-shadow: 2px 2px 5px #888;-webkit-box-shadow:2px 2px 5px #888;-o-box-shadow:2px 2px 5px #888;}
.floor_list li>a{display: block;overflow: hidden;width: 300px;height: 200px;}
.floor_list .list_title{height:40px;background-color: #fff;line-height: 40px;position:relative;top:0px;}
.floor_list li .list_title .text_href{width: 100%;font-family: "Microsoft Yahei", Verdana, Tahoma, sans-serif;}
.floor_list li .list_title .text_href:before{content: "";display: table;}
.floor_list li .list_title .text_href:after{content: "";display: table;}
/*floorfour*/
.floorFour .floor_list li .list_title .text_href a{font-size: 1em;display:block;color: #666;width: auto;text-overflow: ellipsis;white-space: nowrap;float: left;margin-left: 20px;}
.floorFour .floor_list li .list_title .text_href a:hover{opacity: .7;}
.floorFour .floor_list li .list_title .text_href span{font-size: .9em;display:block;color: #e66c1f;width: auto;text-overflow: ellipsis;white-space: nowrap;float: right;margin-right: 20px;}

/*框架*/
.k12-4{width: 28% }
.k12-7{width: 58.3333%}
/*常规颜色*/
.price-color{color:#e66c1f;}
.a-link-color{color: #23598f;}
.bg-white{background-color: #FFFFFF}
.bg-grey{background-color: #eeeeee}